[Desktop Entry]
Type=Application
Name=Markdown Reader
Comment=Fast, lightweight Markdown reader
Exec=/home/siu/.local/bin/mdreader %f
Terminal=false
MimeType=text/markdown;text/x-markdown;
Categories=Utility;Viewer;
Icon=mdreader
StartupNotify=true
